<.header>
  Class <%= @class.id %>
  <:subtitle>This is a class record from your database.</:subtitle>
  <:actions>
    <.link patch={~p"/class/#{@class}/show/edit"} phx-click={JS.push_focus()}>
      <.button>Edit class</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name"><%= @class.name %></:item>
  <:item title="Text"><%= @class.text %></:item>
  <:item title="Example"><%= @class.example %></:item>
</.list>
